<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:include="/enterprise/fragments/common :: #common"></head>
<body>
<div class="hsptAll">
  <div th:replace="/enterprise/global :: #header"></div>
  <div th:replace="/enterprise/global :: #navbar"></div>
  <div class="center">
    <div class="list_a">
      <a th:href="@{/enterprise/index}"> 首页 </a>&gt;
      <a th:href="@{/enterprise/qua/hospitallist?c=001005}">企业资质</a>
    </div>
    <div class="list_b">
      <div id="hosptialquadetail">
        <template>
          <input type="hidden" ref="quaTypeInput" th:value="${quaType}">
          <input type="hidden" ref="urlInput" th:value="${serverUrl}">
          <el-row style="margin-bottom: 10px;margin-top: 10px">
            <el-col>
              <el-tag type="info" th:text="${quaName}"></el-tag>
              <el-button type="primary" icon="el-icon-back" @click="onback">返回</el-button>
            </el-col>
          </el-row>
          <el-row style="margin-bottom: 10px;margin-top: 10px">
            <el-col :span="24" class="list_w">
              <el-table
                :data="dataList"
                style="width: 100%"
                stripe="true"
                v-loading="loading"
              >
                <el-table-column
                  type="index"
                  :index="typeIndex"
                  label="序号"
                  width="50"
                >
                </el-table-column>
                <el-table-column prop="quaName" label="资质名称">
                  <template scope="scope">
                    <span v-if="scope.row.validState=1" style="color:red">{{ scope.row.quaName }}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="validityDate" label="有效期">
                  <template scope="scope">
                      <span v-if="scope.row.validState=1"
                            style="color:red">{{ scope.row.validityDate | dateFormat}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="操作" width="350">
                  <template slot-scope="scope">
                    <el-button
                      type="primary"
                      icon="el-icon-search"
                      @click="handleSearchQuaImage(scope.row.bnzFileRelation)"
                    ></el-button>
                    <el-button type="primary" icon="el-icon-delete"
                               @click="handelDeleteHospitalQua(scope.row.id)"></el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-col>
          </el-row>
          <el-row>
            <el-col>
              <el-pagination
                v-bind:current-page="pageInfo.current"
                v-bind:page-size="pageInfo.size"
                :total="pageInfo.total"
                layout="total,sizes,prev,pager,next,jumper"
                v-bind:page-sizes="[10, 50, 100]"
                v-on:size-change="changePageSize"
                v-on:current-change="pageIndexChange"
              ></el-pagination>
            </el-col>
          </el-row>
          <watch-qua-image-component :dialog-title="dialogTitle"
                                     :show-dialog.sync="showDialog"
                                     :imgs="imgs">
          </watch-qua-image-component>
        </template>
      </div>
    </div>
  </div>
  <div th:replace="/enterprise/fragments/footer :: #footer">&copy; 2017 The Static Templates</div>
</div>
<style>
  .el-table .warning-row {
    background: #E6A23C;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
</style>
<script type="text/javascript" th:src="@{/lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{/lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{/lib/vue/vuex.js}"></script>
<script type="text/javascript" th:src="@{/lib/viewer/viewer.js}"></script>
<script type="text/javascript" th:src="@{/lib/viewer/v-viewer.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/moment/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/axios/dist/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

<script type="x-template" id="watch-qua-image-template">
  <div class="content">
    <el-dialog
      :center="true"
      :title="dialogTitle"
      :close-on-click-modal="false"
      :modal="false"
      :visible="showDialog"
      @close="tallDataListChanged"
    >
      <div class="content">
        <viewer :images="imgs">
          <el-row>
            <div class="block">
              <img
                width="200px"
                height="200px"
                v-for="src in imgs"
                :src="src.url"
                :key="src.title"
              />
              <div>点击查看大图</div>
            </div>
          </el-row>
        </viewer>
      </div>
    </el-dialog>
  </div>
</script>

<script type="text/javascript" th:src="@{/enterprise/js/qua/hospitalquadetail.js}"></script>
</body>
</html>

