<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:include="/enterprise/fragments/common :: #common"></head>
<body>
<div class="hsptAll">
  <div th:replace="/enterprise/global :: #header"></div>
  <div th:replace="/enterprise/global :: #navbar"></div>
  <div class="center">
    <div class="list_a">
      <a th:href="@{/enterprise/index}"> 首页 </a>&gt;
      <a th:href="@{/enterprise/qua/productlist?c=001004}">产品资质</a>
    </div>

    <div class="list_b">
      <div id="productlist">
        <template>
          <div>
            <el-row style="margin-bottom: 10px;margin-top: 10px">
              <el-col :span="24">
                <el-button type="primary" icon="el-icon-plus" @click="handleAddProductQua">添加资质</el-button>
                <el-button type="primary" icon="el-icon-sold-out" @click="handleDoPackage">资质打包</el-button>
                <el-button type="primary" icon="el-icon-tickets" @click="handleSearchPackageRecord">打包记录</el-button>
              </el-col>
            </el-row>
            <el-row style="margin-bottom: 10px;margin-top: 10px">
              <el-col :span="24" class="list_w">
                <el-table
                  :data="dataList"
                  style="width: 100%"
                  stripe
                  v-loading="loading"
                >
                  <el-table-column
                    type="index"
                    :index="typeIndex"
                    label="序号"
                    width="50"
                  ></el-table-column>
                  <el-table-column prop="quaName" label="资质类型">
                    <template slot-scope="scope">
                      <el-tooltip class="item" effect="dark" content="有资质即将过期或已过期" placement="right">
                        <el-tag type="warning" v-if="scope.row.validState=1">{{scope.row.quaName}}</el-tag>
                      </el-tooltip>
                      <span v-if="scope.row.validState=0">{{scope.row.quaName}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column prop="sum" label="数量"></el-table-column>
                  <el-table-column prop="updateTime" label="最后更新日期" :formatter="dateFormat"></el-table-column>
                  <el-table-column label="操作" width="350">
                    <template slot-scope="scope">
                      <el-button
                        type="primary"
                        icon="el-icon-search"
                        @click="handleSearchDetail(scope.row)"
                      ></el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-pagination
                  v-bind:current-page="pageInfo.current"
                  v-bind:page-size="pageInfo.size"
                  :total="pageInfo.total"
                  layout="total,sizes,prev,pager,next,jumper"
                  v-bind:page-sizes="[10, 50, 100]"
                  v-on:size-change="changePageSize"
                  v-on:current-change="pageIndexChange"
                ></el-pagination>
              </el-col>
            </el-row>
            <add-product-qua-component :dialog-title="dialogTitle"
                                       :show-dialog.sync="showDialog">
            </add-product-qua-component>

            <dopack-qua-package-component :dialog-title="packDialogTitle"
                                          :show-dialog.sync="packShowDialog">
            </dopack-qua-package-component>

            <qua-packagerecord-component :dialog-title="packRecordDialogTitle"
                                         :show-dialog.sync="packRecordShowDialog">
            </qua-packagerecord-component>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div th:replace="/enterprise/fragments/footer :: #footer">&copy; 2017 The Static Templates</div>
</div>
<script type="text/javascript" th:src="@{/lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{/lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{/lib/viewer/viewer.js}"></script>
<script type="text/javascript" th:src="@{/lib/viewer/v-viewer.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/moment/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/axios/dist/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>


<script type="x-template" id="add-product-qua-template">
  <div>
    <el-dialog
      width="40%"
      :title="dialogTitle"
      :close-on-click-modal="false"
      :visible="showDialog"
      @close="tallDataListChanged"
    >
      <el-form label-width="120px" ref="dynamicValidateForm" :model="currentData">
        <el-form-item label="资质类型" prop="quaCode" :rules="{ required: true, message: '请选择资质类型', trigger: 'change' }">
          <el-select v-model="currentData.quaCode" @change="selectproductqua" style="width:240px" placeholder="请选择">
            <el-option
              v-for="item in dictInfoGroupOptions"
              :key="item.id"
              :label="item.dictName"
              :value="item.dictId"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="医院是否可见" prop="isShow" :rules="{ required: true, message: '请选择医院是否可见', trigger: 'change' }">
          <el-select v-model="currentData.isShow" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :key="domain.prop"
                      :label="domain.label"
                      :prop="domain.prop"
                      :rules="{required: true, message: domain.label+'不能为空', trigger: 'blur'}"
                      v-for="domain in dynamicValidateForm.domains">
          <div v-if="(domain.type=='text')">
            <el-input type="text" style="width:240px"
                      autocomplete="off"
                      v-model="currentData[domain.prop]"/>
          </div>
          <div>
            <el-date-picker
              v-model="currentData[domain.prop]" style="width:240px"
              type="date"
              v-if="(domain.type=='date')"
            >
            </el-date-picker>
          </div>
        </el-form-item>
        <el-form-item label="上传">
          <el-upload
            class="upload-demo"
            ref="elUpload"
            accept="image/jpeg,image/gif,image/png"
            :multiple="false"
            :before-upload="handleBeforeUpload"
            :on-exceed="handleExceed"
            :on-preview="handlePreview"
            :before-remove="beforeRemove"
            :on-remove="afterRemove"
            :on-success="handleSuccess"
            :action="handelUploadUrl()"
            :file-list="imgs"
            list-type="picture"
            :limit="5"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">
              只能上传jpg/png/jpeg，且不超过5M
            </div>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleSaveProductQua">保存</el-button>
        <el-button @click="tallDataListChanged">关闭</el-button>
      </div>
    </el-dialog>
  </div>
</script>

<script type="x-template" id="dopack-qua-package-template">
  <div>
    <el-dialog
      :title="dialogTitle"
      :close-on-click-modal="false"
      width="35%"
      center
      :visible="showDialog"
      @close="tallDataListChanged"
    >
      <el-table :data="packDataState">
        <el-table-column property="order" label="打包顺序" width="150">
          <template slot-scope="scope">
            <el-input type="number" maxlength="1" v-show="true" :disabled="scope.row.state==1?true:false"
                      v-model="scope.row.order" @blur="proving1($event)" placeholder="请输入顺序号"/>
          </template>
        </el-table-column>
        <el-table-column property="dictName" label="资质类型" width="200"></el-table-column>
      </el-table>
      <el-button type="primary" icon="el-icon-sold-out" @click="doPack">资质打包</el-button>
    </el-dialog>
  </div>
</script>


<script type="x-template" id="hospital-qua-packagerecord-template">
  <div>
    <el-dialog
      :title="dialogTitle"
      :close-on-click-modal="false"
      :visible="showDialog"
      width="40%"
      center
      @close="tallDataListChanged"
    >
      <el-table :data="dataList">
        <el-table-column
          type="index"
          :index="typeIndex"
          label="序号"
          width="50"
        ></el-table-column>
        <el-table-column property="createTime" label="打包时间" width="250">
          <template slot-scope="scope">
            {{scope.row.createTime | dateFormatFull}}
          </template>
        </el-table-column>
        <el-table-column property="type" label="资质类型" :formatter="formatType" width="150">
        </el-table-column>
        <el-table-column label="操作" width="150">
          <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-tickets" @click="handleDownLoad(scope.row)">下载</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        v-bind:current-page="pageInfo.current"
        v-bind:page-size="pageInfo.size"
        :total="pageInfo.total"
        layout="total,sizes,prev,pager,next,jumper"
        v-bind:page-sizes="[10, 50, 100]"
        v-on:size-change="changePageSize"
        v-on:current-change="pageIndexChange"
      ></el-pagination>
    </el-dialog>
  </div>
</script>
<script type="text/javascript" th:src="@{/enterprise/js/qua/productlist.js}"></script>
</body>
</html>





