<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsd.mapper.BnzDictInfoMapper">
  <resultMap id="BaseResultMap" type="com.rsd.domain.RsdDictInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="DICT_ID" jdbcType="DECIMAL" property="dictId" />
    <result column="DICT_NAME" jdbcType="VARCHAR" property="dictName" />
    <result column="DICT_CATEGORY_ID" jdbcType="DECIMAL" property="dictCategoryId" />
    <result column="DICT_CATEGORY_NAME" jdbcType="VARCHAR" property="dictCategoryName" />
    <result column="IS_DEL" jdbcType="DECIMAL" property="isDel" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
  </resultMap>
  
  <select id="queryDictByCategoryId" resultType="com.rsd.domain.RsdDictInfo">
    SELECT
        *
    FROM
        BNZ_DICT_INFO
    WHERE
        IS_DEL = 0
        AND DICT_CATEGORY_ID = #{model.dictCategoryId}
    ORDER BY
        DICT_ID
  </select>

    <select id="getDetailDictInfo" resultType="com.rsd.domain.RsdDictInfo">
        SELECT
            *
        FROM
            BNZ_DICT_INFO
        WHERE
            IS_DEL = 0
          and dict_id=#{model.dictId}
          AND DICT_CATEGORY_ID = #{model.dictCategoryId}
        ORDER BY
            DICT_ID
    </select>
</mapper>