<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsd.mapper.BnzRoleResMapper">
  <resultMap id="BaseResultMap" type="com.rsd.domain.RsdRoleRes">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="RES_ID" jdbcType="DECIMAL" property="resId" />
  </resultMap>
</mapper>